body {
	margin: 0;
	font-family: 'Yusei Magic', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #c31432; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#240b36,
		#c31432
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#240b36,
		#c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#faebd7a9
}

code {
	font-family: 'Yusei Magic', sans-serif;
}

input {
	background: border-box;
	color: #faebd7;
	border-top: none;
	width: 200px;
	padding: 5px;
}